body {
	background: #ffffff;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
	width: 17px;
	height: 17px;
	background: #f1f1f1;
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	background: #f1f1f1 center no-repeat;
	border: none;
}

::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:horizontal {
	border-left: 0;
	border-right: 0;
}

::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-thumb:vertical {
	border-top: 0;
	border-bottom: 0;
}


::-webkit-scrollbar-thumb {
	background-color: #bcbcbc;
	border: 2px solid #f1f1f1;
	padding: 0;
	margin-left: 2px;
	margin-right: 2px;
}

::-webkit-scrollbar-track:vertical {
	background: #f1f1f1;
	border: none;
}

::-webkit-scrollbar-track:horizontal {
	background: #f1f1f1;
}


::-webkit-scrollbar-button:hover,
::-webkit-scrollbar-thumb:hover {
	background-color: #a8a8a8;
}

::-webkit-scrollbar-thumb {
	background-image: none;
}

::-webkit-scrollbar-button:vertical:decrement {
	height: 2px;
	background: #f1f1f1;
}

::-webkit-scrollbar-button:vertical:increment {
	height: 2px;
	background: #f1f1f1;
}

::-webkit-scrollbar-button:horizontal:decrement {
	width: 2px;
	background: #f1f1f1;
}

::-webkit-scrollbar-button:horizontal:increment {
	width: 2px;
	background: #f1f1f1;
}

