::-webkit-scrollbar,
::-webkit-scrollbar-corner {
	background: #080808;
	height: 8px;
	padding-right: 4px;
	width: 8px;
 }
 
::-webkit-scrollbar-button {
	background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
	background-color: #181716; /*pink*/
	border-radius: 3px;
	border: 1px solid #403f3e;
	margin-right: 4px;
	width: 80%;
 }
 
	::-webkit-scrollbar-thumb:hover {
		border: 1px solid #565554;
	}
 
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-track:horizontal {
	background-color: #080808;
	width: 8px;
 }
 
::-webkit-scrollbar-button:vertical:decrement {
	height: 0px;
	width: 0px;
 }
 
::-webkit-scrollbar-button:vertical:increment {
	height: 0px;
	width: 0px;
 }
 
::-webkit-scrollbar-button:horizontal:decrement {
	height: 0px;
	width: 0px;
 }
 
::-webkit-scrollbar-button:horizontal:increment {
	height: 0px;
	width: 0px;
 }